# Byte-compiled / optimized / DLL files
/test/*.py[cod]
/weiboCrawler/*.py[cod]
/weiboCrawler/*/*.py[cod]

# temp
/weiboCrawler/temp/*.*
/weiboCrawler/test.py
/weiboCrawler/result.html
/weiboCrawler/result2.html

# log
/weiboCrawler/log/*.*
