# Byte-compiled / optimized / DLL files
/test/*.py[cod]
/weiboCrawler/*.py[cod]
/weiboCrawler/*/*.py[cod]

# temp
/weiboCrawler/temp/*.*
/weiboCrawler/test.*
/weiboCrawler/*.html
/weiboCrawler/*.html

# log
/weiboCrawler/log/*.*

# db
/weiboCrawler/*.db
